/* h2'er og billeder */
h2 {
  text-align: center;
  font-weight: lighter;
  margin-top: 100px;
  margin-bottom: 50px;
}

.moodcontainer {
  position: relative;
}

.moodboard img {
  width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.styletile img {
  width: 85%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.stylecontainer {
  position: relative;
  gap: 10px;
}

.h2style {
  text-align: center;
}

.stylecontainer {
  margin-left: 130px;
  margin-bottom: 130px;
}

/* boks med links */

.linkboks {
  margin-top: 120px;
  margin-bottom: 120px;
}

.uxuiboks {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

.textcontainer {
  position: relative;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  z-index: 2;
  transform: translate(0, 290%);
}

.textcontainer p {
  font-size: 16px;
  margin: 0;
}

.lofi a,
.prototype a,
.sitemap a {
  color: #ed64a5;
  font-size: larger;
}

.lofi a:hover,
.prototype a:hover,
.sitemap a:hover {
  color: #26ff26;
}

/*  ------ MOBIL SITE ----- */

@media only screen and (max-width: 800px) {
  /* Moodboard */
  .h2mood {
    margin-top: 280px;
    margin-bottom: 30px;
    transform: translate(23%, 50%); /* x, y akse */
  }

  .moodcontainer {
    margin: 0 auto; /* Center the container */
  }

  .moodboard img {
    width: 100%;
  }

  /* Styletile */
  .stylecontainer {
    margin-left: 20px;
    margin-bottom: 50px;
  }

  .styletile img {
    width: 100%;
  }

  /* Link box */
  .linkboks {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .textcontainer {
    gap: 10px;
    transform: none;
  }

  .uxuiboks {
    display: none;
  }

  .textcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .textcontainer p {
    font-size: 12px;
  }

  .lofi a,
  .prototype a,
  .sitemap a {
    font-size: 14px;
  }
}
